.wrraper{
    height: 600px;
    display: inline-block;
    margin-right: 20px;
}
.content{
    width: 350px;
    float: left;
    background-color: cornflowerblue;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25,38,171,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25,38,171,1);
    box-shadow: 10px 10px 5px 0px rgba(25,38,171,1);
}
.imagesliderr{
    width: 350px;
    border-bottom: 2px dashed gainsboro;
}
.des{
    text-align: center;
    font-weight: bold;
}

.wraperapp{
    width: 1200px;
    margin: auto;
}